body {
  background-image: url(http://i.imgur.com/X3Fmw50.jpg);=
  /*background-color: black;*/
}

#leftColumn {
	margin-right: 7.5px;
	padding-right: 25px;
}

#middleColumn {
	margin-left: 7.5px;
}

#rightColumn {
	margin-left: 7.5px;
	padding-left: 25px;
}

#statTable {
  background-color: white;
  border: 2px solid black;
}

#console, #currentEnemy, .upgradeBoxes, #lootItems {
	background-color: rgba(255, 255, 255, 0.7);
  border: 2px solid black;
}

#currentEnemy {
	text-align: center;
	height: 200px;
	margin-bottom: 20px;
}

#enemy {
  height: 96px;
  image-rendering: pixelated;
}

#upgradeBox {
  text-align: center;
}

.upgradeBoxes {
  position: relative;
  margin-top: 2px;
  margin-bottom: 2px;
  overflow:hidden;
  z-index: 4;
}

button.upgradeBoxes p {
	position: fixed;
	opacity: 1;
	left: -9999px;
  	margin: 10px 10 10 10px;
  	padding: 10px 10px 10px 10px;
  	border-radius: 5px;
  	border-style:solid;
  	border-color:black;
  	border-width:1px;
  	text-align: left;
  	z-index: 9999;
}
button.upgradeBoxes:hover p {
	position: fixed;
	opacity: 1;
	margin: -50px 0 0 -250px;
	background: #FFF000;
	z-index: 9999;
	color: black;
	left: 60%;
}

.upgrades {
	min-height: 250px;
	overflow: hidden;
	border:2px solid black;
	margin-bottom: 20px;
}

#console{
	border: 2px solid black;
	height:198px;
	overflow: hidden;
	margin-bottom: 10px;
}
